# coding: utf-8

"""
    Deep Security Smart Check

    Deep Security Smart Check is a container image scanner from Trend Micro.   # noqa: E501

    OpenAPI spec version: 2018-05-01
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""


from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from SmartCheckAPI.api_client import ApiClient


class RegistriesApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def registries_dashboard_get(self, **kwargs):  # noqa: E501
        """registries_dashboard_get  # noqa: E501

        Get registry dashboard metrics.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_dashboard_get(async=True)
        >>> result = thread.get()

        :param async bool
        :return: InlineResponse20011
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_dashboard_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.registries_dashboard_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def registries_dashboard_get_with_http_info(self, **kwargs):  # noqa: E501
        """registries_dashboard_get  # noqa: E501

        Get registry dashboard metrics.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_dashboard_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :return: InlineResponse20011
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = []  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_dashboard_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries/dashboard', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20011',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def registries_get(self, **kwargs):  # noqa: E501
        """registries_get  # noqa: E501

        List registry connections.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_get(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: An encoded value used to retrieve the next set of results for a query that returns more than `limit` results. 
        :param int limit: The maximum number of records to return. 
        :param str query: Space-separated strings to search for. 
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_get_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.registries_get_with_http_info(**kwargs)  # noqa: E501
            return data

    def registries_get_with_http_info(self, **kwargs):  # noqa: E501
        """registries_get  # noqa: E501

        List registry connections.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_get_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param str cursor: An encoded value used to retrieve the next set of results for a query that returns more than `limit` results. 
        :param int limit: The maximum number of records to return. 
        :param str query: Space-separated strings to search for. 
        :return: InlineResponse20010
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['cursor', 'limit', 'query']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_get" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'cursor' in params:
            query_params.append(('cursor', params['cursor']))  # noqa: E501
        if 'limit' in params:
            query_params.append(('limit', params['limit']))  # noqa: E501
        if 'query' in params:
            query_params.append(('query', params['query']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def registries_id_delete(self, id, **kwargs):  # noqa: E501
        """registries_id_delete  # noqa: E501

        Delete a registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_delete(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: The system-assigned registry ID.  (required)
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually delete the record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_id_delete_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.registries_id_delete_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def registries_id_delete_with_http_info(self, id, **kwargs):  # noqa: E501
        """registries_id_delete  # noqa: E501

        Delete a registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_delete_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: The system-assigned registry ID.  (required)
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually delete the record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'dryrun']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_id_delete" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `registries_id_delete`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'dryrun' in params:
            query_params.append(('dryrun', params['dryrun']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries/{id}', 'DELETE',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def registries_id_get(self, id, **kwargs):  # noqa: E501
        """registries_id_get  # noqa: E501

        Get the details of a registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_get(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: The system-assigned registry ID.  (required)
        :return: InlineResponse20010Registries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_id_get_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.registries_id_get_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def registries_id_get_with_http_info(self, id, **kwargs):  # noqa: E501
        """registries_id_get  # noqa: E501

        Get the details of a registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_get_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: The system-assigned registry ID.  (required)
        :return: InlineResponse20010Registries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_id_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `registries_id_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries/{id}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010Registries',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def registries_id_post(self, id, **kwargs):  # noqa: E501
        """registries_id_post  # noqa: E501

        Modify the details of a registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_post(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: The system-assigned registry ID.  (required)
        :param Request9 request:
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually modify the record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :param bool ping: Use `false` to disable automatic checking of the registry host and credentials during the update. 
        :return: InlineResponse20010Registries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_id_post_with_http_info(id, **kwargs)  # noqa: E501
        else:
            (data) = self.registries_id_post_with_http_info(id, **kwargs)  # noqa: E501
            return data

    def registries_id_post_with_http_info(self, id, **kwargs):  # noqa: E501
        """registries_id_post  # noqa: E501

        Modify the details of a registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_post_with_http_info(id, async=True)
        >>> result = thread.get()

        :param async bool
        :param str id: The system-assigned registry ID.  (required)
        :param Request9 request:
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually modify the record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :param bool ping: Use `false` to disable automatic checking of the registry host and credentials during the update. 
        :return: InlineResponse20010Registries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'request', 'dryrun', 'ping']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_id_post" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'id' is set
        if ('id' not in params or
                params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `registries_id_post`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']  # noqa: E501

        query_params = []
        if 'dryrun' in params:
            query_params.append(('dryrun', params['dryrun']))  # noqa: E501
        if 'ping' in params:
            query_params.append(('ping', params['ping']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries/{id}', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010Registries',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def registries_id_scans_post(self, **kwargs):  # noqa: E501
        """registries_id_scans_post  # noqa: E501

        Create a scan using stored registry details.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_scans_post(async=True)
        >>> result = thread.get()

        :param async bool
        :param Request10 request:
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually create a record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :return: InlineResponse2003Scans
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_id_scans_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.registries_id_scans_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def registries_id_scans_post_with_http_info(self, **kwargs):  # noqa: E501
        """registries_id_scans_post  # noqa: E501

        Create a scan using stored registry details.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_id_scans_post_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param Request10 request:
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually create a record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :return: InlineResponse2003Scans
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'dryrun']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_id_scans_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'dryrun' in params:
            query_params.append(('dryrun', params['dryrun']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries/{id}/scans', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2003Scans',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def registries_post(self, **kwargs):  # noqa: E501
        """registries_post  # noqa: E501

        Create a new registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_post(async=True)
        >>> result = thread.get()

        :param async bool
        :param Request8 request:
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually create a record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :param bool ping: Use `false` to disable automatic checking of the registry host and credentials during the update. 
        :return: InlineResponse20010Registries
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async'):
            return self.registries_post_with_http_info(**kwargs)  # noqa: E501
        else:
            (data) = self.registries_post_with_http_info(**kwargs)  # noqa: E501
            return data

    def registries_post_with_http_info(self, **kwargs):  # noqa: E501
        """registries_post  # noqa: E501

        Create a new registry connection.   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async=True
        >>> thread = api.registries_post_with_http_info(async=True)
        >>> result = thread.get()

        :param async bool
        :param Request8 request:
        :param bool dryrun: Use the `dryrun=true` query parameter to indicate that the request should only be tested for validity and should not actually create a record. The response code will indicate whether the request was OK (`200 OK`) or whether there was a problem in the request. 
        :param bool ping: Use `false` to disable automatic checking of the registry host and credentials during the update. 
        :return: InlineResponse20010Registries
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['request', 'dryrun', 'ping']  # noqa: E501
        all_params.append('async')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method registries_post" % key
                )
            params[key] = val
        del params['kwargs']

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'dryrun' in params:
            query_params.append(('dryrun', params['dryrun']))  # noqa: E501
        if 'ping' in params:
            query_params.append(('ping', params['ping']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'request' in params:
            body_params = params['request']
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.select_header_content_type(  # noqa: E501
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = ['token']  # noqa: E501

        return self.api_client.call_api(
            '/registries', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse20010Registries',  # noqa: E501
            auth_settings=auth_settings,
            async=params.get('async'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
